<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Crear Reserva</title>
</head>

<body>
	<div class="form-container">
		<h2>Crear Reserva</h2>
		<form th:action="@{'/user/verMaquina/seleccionarHora/' + ${usuario.id} + '/' + ${maquina.id}}" method="post">
			<div class="form-group">
				<label for="fechaReserva">Selecciona la Fecha:</label>
				<select id="fechaReserva" name="fechaReserva">
					<!-- Iterar sobre las fechas disponibles proporcionadas desde el controlador -->
					<option th:each="fecha : ${fechasDisponibles}" th:value="${fecha}" th:text="${fecha}"></option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Seleccionar hora</button>
		</form>
	</div>
</body>

</html>