<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/listarUsuarios.css}" />
    <title>Lista de Usuarios</title>
</head>
<body>

<div class="usuarios-container">
    <h2>Lista de Usuarios</h2>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí deberías iterar sobre la lista de usuarios y llenar la tabla -->
            <tr th:each="user : ${usuarios}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td>
                    <a th:href="@{'/user/VerUsuario/' + ${usuario.id} + '/' + ${user.id}}">Ver Detalles</a>
                    <form th:if="${user.id != 1}" th:action="@{'/admin/deleteUsuario/' + ${usuario.id}  + '/' + ${user.id}}" th:method="post" style="display: inline;">
                        <button type="submit">Borrar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{'/admin/addUsuario/' + ${usuario.id}}">Añadir Usuario</a>
    <a th:href="@{'/admin/menuPrincipal/' + ${usuario.id}}">Volver al Menú Principal</a>
</div>

</body>
</html>
